@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@layer base {
  body {
    background: oklch(100% 0.00011 271.152);
    color: oklch(29.313% 0.00003 271.152);
  }
  h1 {
    font-size: var(--text-3xl);
  }
  h2 {
    font-size: var(--text-xl);
  }
}

@theme {
  --color
}
